@model HomeViewModel

<partial name="_Carroussel" />

<h2>Meus Favoritos</h2>

<div class="row" style="justify-content: space-around">

    @foreach(var snack in Model.FavoriteSnacks)
    {
        <partial name="_SnacksAbstract" for="@snack" />
    }

</div>